<div class="container" style="text-align: center; padding-top: 3%;">
  <h4>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel</h4>
</div>
<div class="container" style="padding-top: 5%;" >
  <div class="row">
    <div class="col-6">

      <div class="card" style="width: 18rem;">
        <img src="/assets/images/dove.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vademat - Rollercoaset Life</h5>
          <audio controls src="/assets/Vademat - Rollercoaset Life.mp3"></audio>
          <a href="/assets/Vademat - Rollercoaset Life.mp3" class="btn btn-outline-dark" download><fa-icon [icon]="downloadIcon" ></fa-icon> Download</a>
        </div>
      </div>



    </div>
    <div class="col-6">


      <div class="card" style="width: 18rem;">
        <img src="/assets/images/person.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vademat - Alone Again</h5>
          <audio controls src="/assets/Vademat - Alone Again.mp3"></audio>
          <a href="/assets/Vademat - Alone Again.mp3" class="btn btn-outline-dark" download><fa-icon [icon]="downloadIcon" ></fa-icon> Download</a>
        </div>
      </div>


    </div>
  </div>
</div>
